{% extends 'base.html' %}

{% block title %}Post Jobs Gp Jops{% endblock %}

{% load crispy_forms_tags %}
{% block body %}





<div class="list-group-item">
<form class="container mb-5 pb-5" method="POST" action="{% url 'add_a_person' %}" enctype="multipart/form-data">{% csrf_token %}
	<div class="form_container">
		<div class="form-group">
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
				  <strong>{{message}}</strong>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				{% endfor %}
			{% endif %}
			<div class="pt-2"><h3>Add A Person</h3></div><hr>
			{{form1|crispy}}
		</div>
		<div class="text-center"><input type="submit" value="Submit" class="btn_1 full-width"></div>

	</div>
</form>
</div>
{% endblock %}